@model MvcFlash.Core.Messages.MessageBase
@{
    String typeMessage = Model.MessageType;
    if (Model.MessageType == "error")
    {
        typeMessage = "danger";
    }
}

<div class="alert-wrap in">
    <div class="alert alert-@typeMessage" role="alert">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></button>
        <div class="media">
            <strong>@Model.Title</strong> @Model.Content
        </div>
    </div>
</div>